<!DOCTYPE html>
<html lang="pt-br">
    <!--lang atributo-->
    <head>
        <meta charset="UTF-8" />
        <!--conjunto de caracteres-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--escada dinamica de escala-->
        <title>Happy</title>

        <link rel="icon" href="/images/logo-icon.png" />
        <!--href link entre caminhos-->

        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/animations.css" />
        <link rel="stylesheet" href="/css/page-landing.css" />

        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="page-landing">
            <div id="container">
                <header>
                    <img
                        class = "animate-up"
                        id="logo"
                        src="/images/logo.svg"
                        alt="Logomarca de Happy"
                    />
                    <!--caixa de guardar conteudo-->
                    <div class="location animate-up">
                        <!-- Negrito -->
                        <strong>Sorocaba</strong>
                        <!--Paragrafo-->
                        <p>São Paulo</p>
                    </div>
                </header>

                <main>
                    <h1 class="animate-up">Leve felicidade para o mundo</h1>

                    <!--secao-->
                    <section class="visit">
                        <p class= "animate-up">Visite orfanatos e mude o dia de muitas criaças</p>

                        <!-- a = Hyperlink // title mostra titulo aos passar mouse no link-->
                        <a href="/orphanages" title="Visite Orfanatos" class="animate-up">
                            <!--hyperlink sendo usado como imagem-->
                            <img
                                src="/images/arrow.svg"
                                alt="Ir para o mapa"
                            />
                        </a>
                    </section>
                </main>
            </div>
        </div>
        
        <script src="/scripts/page-orphanages.js"></script>

    </body>
</html>

<!-- 
    HTML
    HyperText
        hipertexto (links)

    Markup
        marcação <tags>
    Language
        linguagem

    Html nao e programavel
-->
